.spotify-step {
    max-width: 700px;
    height: 190px;
    margin: 40px auto;
    padding: 2rem;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;

    background: rgb(0, 0, 0);
    text-align: center;
}

.spotify-step h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.spotify-step p {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 1.5rem;
}

.spotify-step button {
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    border-radius: 6px;
    border: 1px solid #1db954;
    background: transparent;
    color: #1db954;
    cursor: pointer;
    transition: 0.3s;
}

.spotify-step button:hover {
    background: #1db954;
    color: black;
    transition: 0.3s;
}

.spotify-step-body {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}