.hero {
    position: relative;
    height: 85vh;
    background: rgb(0, 0, 0);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-15%);
}